/* ------------------------------------- Fonts --------------------------------------------- */

@font-face {
  font-family: 'FuturaDemiC';
  src:        url('../fonts/FuturaDemiC.woff2') format('woff2'),
              url('../fonts/FuturaDemiC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaFuturisLightC';
  src:        url('../fonts/FuturaFuturisLightC.woff2') format('woff2'),
              url('../fonts/FuturaFuturisLightC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OrchideaPro';
  src:        url('../fonts/OrchideaPro-Medium.woff2') format('woff2'),
              url('../fonts/OrchideaPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
