/* Grid width */

$descope-width: 1170px;
$gutter: 30px;

/* Fonts */
$baseline_px: 16px;

$base: 'Helvetica Neue', Arial, sans-serif;

$text: 'FuturaFuturisLightC', $base;
$text-bold: 'FuturaDemiC', $base;
$title: 'OrchideaPro' ,$base;

/* Colors */

$nav: #7a6c6c;
$main: #000000;
$btn-text: #ffffff;
$btn-border: rgb(187, 187, 187);
$title-cl: #796c6c;
$text-alt: #9c9c9c;
$allert: #6f6e6c;
$line: #aa9a8d;
$item: #faf8f9;
$input: #cdc5be;
$slide-control: #bbbbbb;
$slider-number: #d7cfc9;
$btn-active: #625454;
$btn-text-active: #a89889;
$btn-click: #928377;
