/* ------------------------------------------ Media Queries ----------------------------------- */

/* Big desktop min-width 1800px*/

@include big-desktop {

}

/* Tablets min-width: 600px and max-width: 899px */

@include tablet-portait {

	br {
		display: none;
	}

	.visible-medium {
		display: block !important;
	}

	.smile {
		padding: 100px 0 40px 0;
		.container_12 {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
		}
		.image-wrapped {
			margin-bottom: 20px;
		}
		.cabinet-wrapped {
			width: 50%;
			img {
				position: static;
			}
		}
		.clear {
			margin-bottom: 40px;
		}
		.cabinet-desk {
			width: 50%;
			margin-top: 0;
			margin-left: 0;
			h3 {
				margin-top: 35px;
			}
		}
		.perfect-smile {
			h3 {
				margin-top: 0;
			}
		}
		.image-wrapped {
			text-align: center;
			img {
				display: inline-block;
				width: 75%;
			}
		}
	}

	.technologic {
		padding: 50px 0;
		position: relative;
		overflow: hidden;
		.grid_4,
		.grid_8 {
			width: 100%;
		}
		.item {
			padding-left: 0;
		}
		.big-title {
			text-align: center;
			margin-bottom: 20px;
			font-size: 38px;
			&:after {
				right: 0;
			}
			br {
				display: none;
			}
		}
		.title-desk {
			margin-top: 20px;
			font-size: 16px;
			line-height: 20px;
		}
		.desk-list {
			margin-top: 40px;
		}
		.number {
			top: 26px;
			right: -22px;
		}
	}

	.feedback {
		position: relative;
		.big-title {
			display: none;
		}
		.grid_7 {
			width: 100%;
		}
		.current-position {
			right: 0;
		}
	}

	#feedback-slider {
		padding-right: 50px;
		.slide-desk {
			flex-basis: 70%;
		}
		.slick-dots {
			right: 0;
		}
		.slick-next,
		.slick-prev {
			right: 0;
		}
	}

	.emotions {
		padding: 40px 0;
		.container_12 {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
		}
		.grid_4 {
			margin-top: 60px;
		}
		.clear {
			margin-bottom: 40px;
		}
		.section-desk {
			margin-top: 0;
			h3 {
				font-size: 36px;
				line-height: 38px;
			}
		}
		.emotion-wrapped {
			margin-bottom: 0;
			img {
				position: relative;
				max-width: inherit;
				width: 140%;
				margin-top: 0;
				left: -85px;
				top: -40px;
			}
		}
		.doctors-content {
			h3 {
				margin-top: 0;
			}
		}
		h3 {
			margin-top: 0;
		}
		img {
			width: 100%;
			position: relative;
			top: -115px;
			margin: 0 auto;
		}
		.vinirs-button {
			margin-left: 0;
			margin-top: 0;
		}
		.fear-wrapped {
			position: relative;
			top: -65px;
		}
		.grid_4 {
			text-align: center;
		}
		.grid_4,
		.prefix_2 {
			width: 50%;
		}
		.prefix_2 {
			margin-left: 0;
		}
		.fear-wrapped {
			padding-top: 0;
		}
		.fear-image {
			img {
				width: 100%;
				position: static;
			}
		}
	}

	.process {
		padding: 40px 0;
		.grid_4 {
			width: 50%;
		}
		.clear {
			display: none;
		}
		.item {
			height: 240px;
			margin-bottom: 20px;
		}
		.item-last {
			margin-top: 0;
		}
		.item-only-desctope {
			display: block;
		}
		.item-tablet {
			display: flex !important;
			flex-wrap: wrap;
			justify-content: center;
		}
		.item {
			width: 40%;
			height: auto;
			margin-bottom: 40px;
			p,
			h3 {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

.team {
	padding: 80px 0;
	.big-title {
		margin: 90px 10px 0 10px;
	}
	.container_12 {
		position: relative;
	}
	.grid_4 {
		width: 50%;
	}
	.big-title-wrapped {
		width: 51%;
		margin-bottom: 75px;
	}
	.team-doctors {
		left: 50%;
		top: 0;
		position: absolute;
		text-align: center;
		img {
			position: static;
			display: inline-block;
			width: 60%;
		}
	}
	.section-image {
		display: none;
		img {
			max-width: inherit;
		}
	}
	h4 {
		margin: 0 0 15px 0;
		padding-right: 0;
	}
	.current-position-small {
		z-index: 50;
	}
	.grid_4 {
		img {
			position: relative;
			top: 120px;
		}
	}
	.current-position-small {
		left: 0;
	}
}

.trust {
	padding-top: 40px;
	.logo-wrraper {
		flex-wrap: wrap;
		li {
			width: auto;
			flex-grow: 1;
		}
	}
}

#team-slider {
	.name {
		margin-top: 0;
	}
}

.price {
	padding: 80px 0;
	.price-name-big {
		top: 35px;
	}
	.price-volume {
		top: 180px;
	}
}

.phil {
	padding: 80px 0;
	h3 {
		margin-top: 0;
		font-size: 40px;
	}
	.prefix_6 {
		margin-left: 0;
		width: 100%;
	}
	.prefix_1 {
		margin-left: 0;
		width: 50%;
	}
	img {
		max-width: inherit;
		width: 120%;
		top: 0;
		left: -75px;
	}
	.prefix_2 {
		margin-left: 0;
	}
}

.hidden-mobile {
	display: none !important;
}

.hidden-medium {
	display: none !important;
}

.vissible-mobile {
	display: none !important;
}

.visible-medium {
	display: block !important;
}

.animated {
	transition-property: none !important;
	transform: none !important;
	animation: none !important;
}

img {
	max-width: 100%;
}

.modal-politics {
	padding-left: 30px;
	padding-right: 30px;
}

.footer {
	.btn {
		margin-top: 10px;
	}
}

#leave {
	.modal-window {
		padding: 50px;
		max-width: auto;
		width: 95%;
	}
	.modal-content {
		padding-left: 340px;
	}
}

}

/* Tables landscape min-width: 900px and max-width: 1190px default */

@include tablet-landscape {

}

/* Mobile phone max-width: 599px */

@include phone-only {
	br {
		display: none;
	}
	/* Vissible block */

	.hidden-mobile {
		display: none !important;
	}

	.visible-medium {
		display: none !important;
	}

	.vissible-mobile {
		display: block !important;
	}

	/* Sending */

	#sending {
		top: 0;
		right: 0;
	}

	/* Image sizes */

	img {
		max-width: 100%;
	}

	.animated {
		transition-property: none !important;
		transform: none !important;
		animation: none !important;
	}

	/* Custom styles */

	.title {
		margin-bottom: 30px;
	}

	.technologic {
		padding: 40px 0 20px 0;
		h3 {
			text-align: center;
			margin-bottom: 30px;
			font-size: 30px;
			line-height: 34px;
		}
		.gallery {
			display: none;
		}
		p {
			font-size: 16px;
			line-height: 20px;
		}
		.desk-list {
			margin-top: 20px;
			flex-wrap: wrap;
			li {
				flex-basis: 100%;
				margin-bottom: 20px;
				padding: 0;
				h4 {
					text-align: center;
				}
			}
		}
		.title-desk {
			margin-top: 15px;
			margin-bottom: 15px;
			text-align: center;
		}
		.number {
			display: none;
		}
		.item {
			padding-left: 0;
			height: auto;
			margin-bottom: 40px;
			img {
				display: block;
				margin: 0 auto;
			}
		}
		.technologic-content {
			padding-left: 0;
			h4 {
				padding-right: 0;
			}
			h4,
			p {
				text-align: center;
			}
		}
		#technik-slider {
			padding-top: 20px;
		}
	}

	.big-title {
		font-size: 30px;
		line-height: 34px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.feedback {
		padding: 40px 0 0 0;
		position: relative;
		.big-title {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			margin-top: 150px;
			margin-left: auto;
			margin-right: auto;
		}
		.slider-wrapped {
			margin-top: 320px;
		}
		.current-position {
			display: none;
		}
		.slick-slide {
			height: 740px;
		}
	}

	#feedback-slider {
		.slide-text {
			padding: 20px;
			flex-wrap: wrap;
			justify-content: center;
		}
		.slide-desk {
			flex-basis: 100%;
			padding-left: 0;
			margin-top: 40px;
		}
		.text {
			margin-bottom: 15px;
			font-size: 16px;
			line-height: 22px;
			color: #000;
		}
		.slick-dots {
			display: none !important;
		}
		.slick-next {
			top: 30px;
		}
		.slick-prev {
			top: 75px;
		}
		.slick-prev,
		.slick-next {
			right: 85%;
			z-index: 100;
		}
	}

	.emotions {
		padding: 0 0 40px 0;
		.fear-wrapped {
			padding-top: 50px;
			p {
				font-size: 18px;
				line-height: 22px;
				strong {
					display: block;
				}
			}
		}
		img {
			width: 70%;
		}
		.section-desk {
			h3 {
				font-size: 30px;
				line-height: 30px;
			}
			p {
				font-size: 18px;
				line-height: 22px;
			}
		}
		.clear {
			margin-bottom: 15px;
		}
		.fear-wrapped {
			text-align: center;
		}
		.grid_4 {
			text-align: center;
		}
		img {
			display: block;
			margin: 20px auto;
		}
		.fear-image {
			display: none;
		}
		.emotion-wrapped {
			display: none !important;
		}
	}

	.process {
		padding: 40px 0;
		.item {
			height: auto;
			margin-bottom: 20px;
					.big-title {
			margin: 40px 0;
			padding: 0;
		}
		}
		.clear {
			display: none;
		}
		.title-desk {
			margin-bottom: 70px;
		}
		.item {
			padding-left: 0;
			margin-bottom: 40px;
			h3 {
				font-size: 20px;
				line-height: 22px;
				padding-right: 20px;
				padding-left: 45px;
			}
			p {
				font-size: 16px;
				line-height: 22px;
				padding-right: 20px;
				padding-left: 45px;
			}
			.number {
				top: 10px;
				left: -15px;
				padding: 0;
			}
		}
		.item-last {
			margin-top: 0;
		}
		.item-only-mobile {
			display: block;
		}
		.item-only-desctope {
			display: none;
		}
	}

#garanty-slider {
	.slide {
		padding-right: 40px;
	}
}

.team {
	padding-bottom: 90px;
	padding-top: 40px;
	.section-image {
		display: none;
	}
	.big-title {
		margin: 30px;
	}
	.section-image {
		img {
			display: none;
		}
	}
	p {
		font-size: 16px;
		line-height: 22px;
	}
	img {
		width: 70%;
		margin: 0 auto;
		display: block;
	}
	li {
		font-size: 16px;
		line-height: 22px;
	}
	h4 {
		margin: 20px 0;
		text-align: center;
		padding-right: 0;
	}
	.current-position-small {
		top: 50px;
	}
	.bio {
		margin-top: 0;
		margin-bottom: 20px;
	}
	.current-position {
		display: none;
	}
	.slick-dots {
		display: none !important;
	}
		.slick-prev {
			bottom: -15px;
		left: auto;
		right: 50px;
		transform: rotate(-90deg);
	}
	.slick-next {
		bottom: -15px;
		right: auto;
		left: 50px;
		transform: rotate(-90deg);
	}
	.slider-wrapped {
		margin-top: 20px;
	}
	.slide {
		position: relative;
		img {
			width: 262px;
			position: absolute;
			top: 150px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.team-doctors {
		margin-top: 20px;
	}
}

#team-slider {
	.position {
		margin-bottom: 290px;
	}
	.position {
		padding-left: 60px;
	}
}

.price {
	padding: 40px 0;
	.title-slide {
		text-align: center;
		margin-bottom: 40px;
		font-size: 30px;
		line-height: 30px;
	}
	.price-name-big {
		display: none;
	}
	.image-wrapped {
		margin-top: 15px;
		padding-left: 0;
	}
	.current-position-big {
		display: none;
	}
	.price-volume {
		top: auto;
		bottom: 6px;
		right: auto;
		left: 20px;
	}
	.price-name {
		padding-right: 60px;
	}
	.slick-next,
	.slick-prev {
		left: 15px;
		transform: rotate(-90deg);
		top: 0;
	}
	.slick-prev {
		left: 60px;
	}
	.current-position {
		display: none;
	}
	.slick-dots {
		display: none !important;
	}
	#price-slider-nav {
		padding-left: 0;
		img {
			width: 100%;
		}
	}
	.text {
		font-size: 16px;
		line-height: 22px;
	}
}

.trust {
display: none;
}

.phil {
	padding: 40px 0;
	position: relative;
	.image-wrapped {
		display: none;
	}
	p,
	.write {
		font-size: 16px;
		line-height: 22px;
	}
	.write {
		margin: 0;
		padding: 20px 0;
	}
	h3 {
		margin-top: 15px;
		text-align: center;
		font-size: 30px;
		line-height: 34px;
	}
	h4 {
		font-size: 24px;
		line-height: 28px;
		text-align: center;
		margin-top: 20px;
	}
	form {
		padding: 20px;
		max-width: 320px;
		margin: 10px auto 20px auto;
	}
}

.map {
	h2 {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 15px;
	}
	.map .adress, .map .contact-phone {
		margin-bottom: 15px;
		font-size: 16px;
	}
	.contacts-wrapped {
		position: static;
		padding: 30px;
		width: 100%;
		margin: 0 auto;
		left: 50%;
		transform: translate(0, 0);
	}
	#map {
		height: 400px;
	}
}

/* Footer */

.footer {
	padding: 40px 0;
	.socail-network {
		padding-top: 5px;
	}
	.grid_3 {
		text-align: center;
	}
	img {
		margin-bottom: 20px;
	}
	.btn {
		margin-top: 30px;
		margin-right: auto;
		margin-left: auto;
	}
}

/* Company footer */

.company-footer {
	.company-wrapped {
		text-align: center;
		.politics {
			display: block;
			padding-left: 0;
		}
		.company-logo {
			width: 100%;
			margin-top: 10px;
			float: none;
			display: inline-block;
			text-align: center;
		}
	}
}

/* Modal window mobile */

.modal-window {
	width: 95%;
	padding: 45px 15px 15px 15px;
	form {
		max-width: 320px;
		margin: 20px auto;
	}
	.modal-title {
		text-align: center;
		font-size: 22px;
		line-height: 24px;
	}
	.close {
		top: 10px;
		right: 10px;
	}
}

#leave {
	.modal-window {
		padding: 45px 15px 15px 15px;
		max-width: auto;
		width: 95%;
		background-image: url(../images/modal-bg.jpg);
	}
	.modal-content {
		padding-left: 0;
	}
}

}

/* Hovers */

@include hovers {
	.btn {
		transition: .4s;
		&:hover {
			color: #FFF;
			background-color: $btn-text-active;
			box-shadow: -2.072px 16.873px 40px 0px rgba(121, 108, 108, 0.53);
		}
		&:active {
			color: $main;
			background-color: $btn-click;
		}
	}
	.navigation {
		li {
			a {
				position: relative;
				transition: .4s;
				&:before {
					content: "";
					position: absolute;
					background-color: $main;
					width: 0;
					height: 1px;
					top: 50%;
					transform: translateY(-50%);
					transition: .4s;
				}
				&:hover {
					color: $main;
					&:before {
						width: 100%;
					}
				}
			}
		}
	}
	header {
		.scroll-down {
			transition: .4s;
			display: none;
			&:hover {
				transform: translateY(12px);
			}
		}
	}
	.phone-number {
		transition: .4s;
		display: inline-block;
		&:hover,
		&:active {
			color: $main;
		}
	}
	.phones-wrapped {
		.btn {
			transition: .4s;
			&:hover {
				color: #FFF;
				background-color: $nav;
				border-color: $nav;
			}
			&:active {
				background-color: $btn-active;
				border-color: $btn-active;
				color: $btn-text-active;
			}
		}
	}
	.slick-dots {
		li {
			button {
				transition: .4s;
				&:hover,
				&:active {
					color: $main;
				}
			}
		}
	}
	.phil {
		p {
			a {
				transition: .4s;
				&:hover,
				&:active {
					color: $allert;
				}
			}
		}
	}
	.process {
		.item {
			transition: .4s;
		}
	}
	#price-slider-nav {
		.slide {
			&:before {
				transition: .4s;
			}
			.price-title {
				transition: .4s;
			}
			&:hover {
				&:before {
					height: 100%;
				}
				.price-title {
					color: #FFF;
				}
			}
		}
	}
	.footer {
		.social-network {
			a {
				transition: .4s;
				&:hover,
				&:active {
					color: $title-cl;
				}
			}
		}
	}
	.company-footer .politics {
		transition: .4s;
		&:hover,
		&:active {
			color: #FFF;
		}
	}
	.price {
		.new-price {
			transition: 0.4s;
			&:hover,
			&:active {
				color: $line;
				&:before {
					background-color: $line;
				}
			}
		}
	}
	.map {
		.contacts-wrapped {
			a {
				transition: .4s;
				&:hover,
				&:active {
					color: $main;
				}
			}
		}
	}
	.modal-window {
		.close {
			transition: .4s;
			&:hover,
			&:active {
				&:before,
				&:after {
					background-color: $main;
				}
			}
		}
	}
}

@media (min-width: $descope-width + 20px) and (max-width: 1550px) {
	.smile .cabinet-wrapped img {
		width: 140%;
		right: -95px;
	}
	.emotions .emotion-wrapped {
		position: relative;
		img {
			position: relative;
			left: -100px;
			width: 150%;
		}
	}
/* 	.garanty {
	.section-image {
		right: 70px;
		top: 255px;
		width: 110%;
	}
} */
.phil .image-wrapped img,
.team .section-image img {
	width: 140%;
	right: -25px;
	top: 35px;
}
}
