@import "inc/reset";
@import "inc/fonts";
@import "inc/font-awesome";
@import "libs";
//@import "inc/animate";
//@import "inc/fancybox";
@import "headers";
@import "inc/modal";

/* -------------------------------- Custom styles --------------------------------------------------- */

.bingc-phone-button {
	left: auto !important;
	right: 7% !important;
}

/* Hidden in desctop */

.hidden-mobile {
	display: none !important;
}

.vissible-mobile {
	display: none !important;
}

.visible-medium {
	display: none !important;
}

p {
	strong {
		font-family: $text-bold;
		color: $allert;
	}
}

.title {
	font-family: $title;
	font-size: 11px;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	padding-bottom: 40px;
	position: relative;
	color: $title-cl;
	margin-bottom: 60px;
	&:before {
		content: "";
		position: absolute;
		background-color: $title-cl;
		width: 28px;
		height: 1px;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
	}
}

.big-title {
	text-align: center;
	font-family: $title;
	font-size: 48px;
	line-height: 48px;
	position: relative;
	padding: 32px 0;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: $line;
		width: 83px;
		height: 1px;
	}
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: $line;
		width: 83px;
		height: 1px;
	}
}

.smile {
	padding: 200px 0 100px 0;
	background-image: url(../images/perfect-smile-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	.perfect-smile {
		text-align: center;
		h3 {
			font-size: 48px;
			line-height: 48px;
			margin-top: 48px;
			margin-bottom: 30px;
		}
	}
	p {
		color: $text-alt;
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 18px;
	}
	.image-wrapped {
		text-align: right;
		margin-bottom: 60px;
	}
	.cabinet-wrapped {
		min-height: 1px;
		img {
			position: absolute;
			right: 0;
		}
	}
	h3 {
		font-size: 30px;
		line-height: 26px;
		margin-bottom: 20px;
	}
	.cabinet-desk {
		margin-top: 75px;
		h3 {
			font-family: $text-bold;
			margin-bottom: 25px;
		}
		p {
			margin-bottom: 32px;
		}
	}
}

.technologic {
	padding: 176px 0 100px 0;
	h3 {
		font-size: 48px;
		line-height: 48px;
	}
	.gallery {
		display: flex;
		justify-content: space-between;
	}
	.desk-list {
		display: flex;
		margin-top: 75px;
		li {
			flex-basis: 33.3333%;
			padding-right: 25px;
		}
	}
	p {
		font-size: 20px;
		line-height: 26px;
		color: $text-alt;
		text-align: justify;
	}
}

.slick-arrow {
	font-size: 0;
	&:before {
		content: none;
	}
}

.slick-slider {
	outline: none;
	.slick-next {
		width: 27px;
		height: 27px;
		background-image: url(../images/arrow-next.png);
		top: 14px;
		right: -55px;
	}
	.slick-prev {
		width: 27px;
		height: 27px;
		background-image: url(../images/arrow-prev.png);
		top: 62px;
		right: -55px;
		left: auto;
	}
	.slick-next,
	.slick-prev {
		transition: .4s;
		border-radius: 50%;
		&:hover {
			opacity: .2;
		}
		&:active {
			background-color: #625454;
			opacity: 1;
		}
	}
}

.current-position {
	font-family: $title;
	font-size: 12px;
	letter-spacing: 0.05em;
	position: absolute;
	z-index: 10;
	color: $nav;
	right: -50px;
	transition: .4s;
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 20px;
		transform: translateX(-50%);
		width: 1px;
		height: 73px;
		background-color: $nav;
	}
}

.hidden {
	transform: translateX(-50px);
	opacity: 0;
}

.slick-dots {
	width: 25px;
	left: auto;
	right: -52px;
	li {
		display: block;
		margin-left: 0;
		margin-bottom: 25px;
		button {
			letter-spacing: 0.05em;
			font-size: 12px;
			font-family: $title;
			color: $slider-number;
			width: auto;
			height: auto;
			&:before {
				content: none;
			}
		}
	}
}

.youtube {
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	overflow: hidden;
	transition: all 200ms ease-out;
	cursor: pointer;
}

.youtube .play {
	background-image: url(../images/play.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 58px 58px;
	position: absolute;
	height: 100%;
	width: 100%;
	transition: all 0.2s ease-out;
}

.youtube .play:hover {
	transform: scale(1.2);
}

.feedback {
	padding-bottom: 70px;
	.big-title {
		margin-top: 72px;
		margin-left: 52px;
		margin-right: 52px;
	}
}

#feedback-slider {
	.slide-video {
		display: none;
	}
	.slide-wrapped {
		background-color: $item;
	}
	.slide-text {
		display: flex;
		align-items: flex-start;
		padding: 60px 60px 50px 60px;
	}
	.face {
		flex-basis: 124px;
		position: relative;
	}
	.controls-face {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 25px;
		width: 100px;
		background-color: $item;
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	.slide-desk {
		padding-left: 65px;
	}
	.controls-slide {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 184px;
		height: 48px;
		background-color: #FFF;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		button {
			background-color: transparent;
			border: none;
			font-size: 12px;
			letter-spacing: 0.15em;
			font-family: $text-bold;
			text-transform: uppercase;
			color: $slide-control;
			&:hover,
			&:active {
				color: $main;
			}
		}
	}
	.name {
		font-family: $text-bold;
		font-size: 24px;
		line-height: 18px;
		margin-bottom: 15px;
	}
	.text {
		color: $text-alt;
		font-size: 18px;
		line-height: 24px;
	}
	.hide {
		display: none;
	}
	.service-name {
		position: absolute;
		transform: rotate(90deg);
		right: -92px;
		top: 64px;
		font-family: $title;
		font-size: 10px;
		letter-spacing: 0.5em;
		color: $title-cl;
		text-transform: uppercase;
	}
	.next,
	.prev {
		background-color: transparent;
		border: none;
		font-size: 10px;
		letter-spacing: 0.15em;
		font-family: $text-bold;
		text-transform: uppercase;
		color: $slide-control;
		&:hover,
		&:active {
			color: $main;
		}
	}
	button.active {
		color: $main;
	}
	.controls-face,
	.controls-slide {
		span {
			font-family: $text-bold;
			color: $main;
		}
	}
	button {
		transition: .4s;
	}
}

.emotions {
	padding: 40px 0 100px 0;
	background-image: url(../images/emoji-bg.jpg);
	background-size: cover;
	background-position: 50%;
	position: relative;
	overflow: hidden;
	.section-desk {
		margin-top: 52px;
		text-align: center;
		h3 {
			font-size: 48px;
			line-height: 48px;
			margin-bottom: 30px;
		}
		p {
			font-size: 20px;
			line-height: 26px;
			color: $text-alt;
		}
	}
	.emotion-wrapped {
		margin-bottom: 108px;
		img {
			transform: scale(-1, 1);
		}
	}
	.fear-wrapped {
		padding-top: 60px;
		h3 {
			font-size: 30px;
			line-height: 26px;
			margin-bottom: 12px;
			font-family: $text-bold;
		}
		p {
			color: $text-alt;
			font-size: 20px;
			line-height: 26px;
		}
		.btn {
			margin-top: 32px;
		}
	}
}

.process {
	padding: 100px 0 196px 0;
	background-image: url(../images/process.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	.big-title {
		margin: 40px 68px 0 68px;
		text-align: left;
	}
	.item {
		margin-left: 30px;
		padding: 35px 35px 40px 40px;
		background-color: $item;
		position: relative;
		h3 {
			font-family: $text-bold;
			font-size: 24px;
			line-height: 26px;
			margin-bottom: 15px;
		}
		p {
			font-size: 20px;
			line-height: 26px;
			color: $text-alt;
		}
		.number {
			position: absolute;
			font-family: $title;
			font-size: 14px;
			top: 4px;
			left: -40px;
			transform: rotate(-90deg);
			color: $nav;
		}
	}
	.item {
		height: 214px;
	}
	.item-min {
		height: 190px;
	}
	.clear {
		margin-bottom: 55px;
	}
}

.garanty {
	.section-image {
		position: absolute;
		right: 110px;
		top: 145px;
	}
	h3 {
		font-family: $title;
		font-size: 48px;
		line-height: 48px;
		margin-bottom: 25px;
	}
	.garanty-desk {
		ul {
			display: flex;
			flex-wrap: wrap;
		}
		li {
			flex-basis: 50%;
			margin-bottom: 45px;
		}
		p {
			font-size: 20px;
			line-height: 26px;
			opacity: 0.42;
		}
	}
}

.form-title {
	transition: .4s;
}

.result {
	padding: 145px 0 145px 0;
	background-image: url(../images/result.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	h3 {
		font-size: 48px;
		line-height: 48px;
		margin-bottom: 30px;
		margin-top: 70px;
		padding-right: 15px;
	}
	p {
		font-size: 20px;
		line-height: 26px;
		color: $text-alt;
		a {
			color: $main;
		}
	}
	strong {
		display: inline-block;
	}
	h4 {
		font-family: $text-bold;
		font-size: 30px;
		line-height: 34px;
		margin-top: 110px;
		margin-bottom: 28px;
	}
	form {
		margin-top: 35px;
		padding: 55px 70px 70px 70px;
		background-color: $item;
	}
	.form-title {
		font-family: $title;
		font-size: 9px;
		letter-spacing: 0.5em;
		margin-bottom: 5px;
		text-transform: uppercase;
		color: $input;
	}
	input {
		margin-bottom: 28px;
	}
	.btn {
		margin-top: 20px;
		width: 230px;
	}
	.slider-title {
		font-size: 8px;
		letter-spacing: 0.5em;
		font-family: $title;
		position: absolute;
		right: -95px;
		top: 48px;
		text-transform: uppercase;
		transform: rotate(90deg);
		color: $slider-number;
		letter-spacing: 0.5em;
	}
	.current-position {
		font-family: $title;
		font-size: 12px;
		letter-spacing: 0.05em;
		position: absolute;
		z-index: 10;
		color: $nav;
		right: -45px;
		transition: .4s;
		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 30px;
			transform: translateX(-50%);
			width: 1px;
			height: 73px;
			background-color: $nav;
		}
	}
	.current-position-big {
		position: absolute;
		font-family: $title;
		font-size: 48px;
		transform: rotate(-90deg);
		top: 98px;
		right: -50px;
		color: $nav;
	}
	.slick-dots {
		right: -45px;
	}
}

.slick-slide {
	outline: none;
}

.team {
	background-image: url(../images/team.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	position: relative;
	overflow: hidden;
	padding: 55px 0 170px 0;
	h3 {
		margin: 0 135px;
	}
	.big-title {
		margin-top: 110px;
	}
	.section-image {
		margin-bottom: 60px;
	}
	h4 {
		margin-top: 65px;
		margin-bottom: 20px;
		padding-right: 140px;
	}
	p {
		font-size: 20px;
		line-height: 26px;
		color: $text-alt;
	}
	ul {
		margin: 20px 0;
	}
	li {
		font-size: 20px;
		line-height: 26px;
		color: $text-alt;
	}
	.current-position {
		font-family: $title;
		font-size: 12px;
		letter-spacing: 0.05em;
		position: absolute;
		z-index: 10;
		color: $nav;
		bottom: auto !important;
		top: -5px;
		left: 18px;
		right: auto;
		transition: .4s;
		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 30px;
			transform: translateX(-50%);
			width: 1px;
			height: 73px;
			background-color: $nav;
		}
	}
	.slick-next {
		top: auto;
		right: auto;
		left: 15px;
		bottom: -15px;
		z-index: 99;
	}
	.slick-prev {
		top: auto;
		right: auto;
		left: 15px;
		bottom: -64px;
		z-index: 99;
	}
	.slick-dots {
		right: auto;
		bottom: auto;
		left: 15px;
		top: 125px;
	}
	.container_12 {
		.slider-wrapped {
			padding: 0;
		}
	}
	.slider-wrapped {
		margin-top: 125px;
	}
	.current-position-small {
		color: $nav;
		font-family: $title;
		font-size: 14px;
		position: absolute;
		right: 0;
		top: 6px;
		transform: rotate(-90deg);
	}
}

#team-slider {
	.name {
		font-size: 30px;
		line-height: 26px;
		font-family: $text-bold;
		color: $main;
		margin-bottom: 12px;
		margin-top: 48px;
	}
	.position {
		font-family: $title;
		font-size: 9px;
		line-height: 16px;
		margin-bottom: 22px;
		letter-spacing: 0.5em;
		color: $title-cl;
		text-transform: uppercase;
	}
}

.price {
	padding: 150px 0 132px 0;
	background-image: url(../images/price.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	#price-slider-nav {
		padding-left: 20px;
		margin-bottom: 34px;
		.slide {
			position: relative;
			cursor: pointer;
			&:before {
				content: '';
				background-color: $text-alt;
				opacity: 0.502;
				width: 100%;
				height: 0;
				position: absolute;
				top: 0;
				left: 0;
				transition: 0.4s;
			}
		}
		.slick-current {
			&:before {
				height: 100%;
			}
			.price-title {
				color: #FFF;
			}
		}
	}
	.price-title {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $nav;
		font-family: $text-bold;
		font-size: 16px;
	}
	.title-slide {
		font-family: $title;
		font-size: 48px;
		line-height: 48px;
		color: $main;
		margin-top: -5px;
	}
	.price-name {
		color: $main;
		font-size: 30px;
		line-height: 26px;
		font-family: $text-bold;
		margin-bottom: 15px;
		margin-top: 40px;
	}
	.text {
		font-size: 20px;
		line-height: 26px;
		color: $text-alt;
	}
	.image-wrapped {
		padding-left: 20px;
		img {
			width: 100%;
		}
	}
	.main-slide-wrapped {
		padding: 0;
		position: relative;
	}
	.slick-dots {
		bottom: auto;
		top: 280px;
		left: 46%;
	}
	.current-position {
		bottom: auto !important;
		top: 170px;
		left: 46.5%;
		right: auto;
	}
	.slick-next,
	.slick-prev {
		left: 46%;
		z-index: 99;
	}
	.slider-wrapped {
		padding: 0;
	}
	.price-volume {
		font-family: $title;
		font-size: 16px;
		color: $main;
		position: absolute;
		right: 70px;
		top: 300px;
		span {
			display: block;
			letter-spacing: 0.5em;
			font-size: 7px;
			line-height: 22px;
			text-transform: uppercase;
		}
	}
	.price-name-big {
		font-family: $text-bold;
		font-size: 24px;
		line-height: 26px;
		position: absolute;
		right: 30px;
		top: 75px;
		text-align: center;
	}
	.slide-image {
		padding-right: 8.33%;
	}
	.current-position-big {
		font-size: 48px;
		font-family: $title;
		color: $nav;
		position: absolute;
		transform: rotate(-90deg);
		left: 49%;
		top: 170px;
		z-index: 80;
	}
}

.phil {
	padding: 195px 0 180px 0;
	background-image: url(../images/phil-bg.jpg);
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	.image-wrapped {
		position: relative;
		min-height: 1px;
		img {
			position: absolute;
			right: 0;
		}
	}
	h3 {
		margin-bottom: 20px;
		margin-top: 85px;
		font-size: 48px;
		line-height: 48px;
		font-family: $title;
	}
	p {
		font-size: 20px;
		line-height: 26px;
		color: $text-alt;
	}
	strong {
		margin-top: 15px;
		display: inline-block;
	}
	h4 {
		margin-top: 60px;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 25px;
	}
	.write {
		text-align: center;
		color: $nav;
		font-size: 20px;
		line-height: 26px;
		margin: 70px 0 15px 0;
		font-family: $text-bold;
		a {
			color: $main;
		}
	}
	form {
		margin-top: 35px;
		padding: 55px 70px 70px 70px;
		background-color: $item;
	}
	.form-title {
		font-family: $title;
		font-size: 9px;
		letter-spacing: 0.5em;
		margin-bottom: 5px;
		text-transform: uppercase;
		color: $input;
	}
	input {
		margin-bottom: 50px;
	}
	.btn {
		width: 230px;
	}
}

#map {
	width: 100%;
	height: 612px;
}

.map {
	position: relative;
	.contacts-wrapped {
		width: 360px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color: #FFF;
		padding: 60px 60px 60px 60px;
		margin-bottom: 35px;
		box-sizing: border-box;
		z-index: 50;
	}
	h2 {
		font-size: 30px;
		margin-bottom: 35px;
	}
	.adress,
	.contact-phone {
		font-size: 18px;
		line-height: 22px;
		padding-left: 30px;
		color: $text-alt;
		margin-bottom: 10px;
		position: relative;
		i {
			position: absolute;
			top: 0;
			left: 0;
			color: #a7998e;
			font-size: 22px;
		}
	}
	.map-link {
		display: block;
		margin-top: 30px;
		font-family: $text-bold;
		text-transform: uppercase;
		font-size: 12px;
		color: #af9f96;
		letter-spacing: 0.15em;
		position: relative;
		i {
			font-size: 22px;
			position: absolute;
			right: 0;
			top: -6px;
		}
	}
}

/* Allert styles */

.form-inline {
	.allert {
		left: auto;
		right: 0;
		display: inline-block;
	}
}

/* Footer */

.footer {
	padding: 60px 0 60px 0;
	.social-network {
		padding-top: 25px;
		a {
			font-size: 22px;
			color: $main;
			transition: .4s;
		}
	}
	.btn {
		display: block;
		width: 174px;
		margin-top: 12px;
		margin-left: auto;
	}
}

/* Company footer */

.company-footer {
	background-color: #202020;
	padding: 15px 0;
	.politics {
		padding-left: 10px;
		padding-top: 8px;
		font-size: 14px;
		color: #65666A;
		display: inline-block;
	}
	.company-logo {
		float: right;
	}
	svg {
		width: 95px;
		height: 40px;
		fill: #666666;
		transition: .4s;
	}
}

/* Modal window custom styles */

.modal-window {
	width: 555px;
	background-image: url(../images/modal-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 100px;
	box-sizing: border-box;
	border-radius: 0;
	.modal-title {
		font-family: $title;
		font-size: 38px;
		color: $main;
	}
	input {
		margin-bottom: 30px;
	}
	form {
		margin-top: 50px;
	}
	.btn {
		margin-top: 30px;
	}
	.close {
		width: 30px;
		height: 30px;
		top: 30px;
		right: 30px;
		&:before,
		&:after {
			content: "";
			width: 42px;
			height: 1px;
			margin-top: -1px;
			margin-left: -21px;
			background: #c7c0c1;
			position: absolute;
			left: 50%;
			right: 50%;
			transform: rotate(45deg);
			transition: .4s;
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:hover,
		&:active {

		}
	}
}

/* Modal politics */

.modal-politics {
	width: 75%;
	.modal-title {
		text-align: center;
	}
	p {
		text-align: left;
		padding-bottom: 15px;
	}
}

#leave {
	.modal-window {
		background-image: url(../images/modal-bg-leave.jpg);
		width: auto;
		max-width: 945px;
		padding: 5% 100px;
	}
	.modal-content {
		padding-left: 300px;
		text-align: left;
	}
	.modal-title {
		padding-bottom: 40px;
	}
	.text {
		color: $text-alt;
		font-size: 20px;
		margin-bottom: 25px;
		span {
			color: #a7968c;
			font-family: $title;
		}
	}
}

@import "media";
/* When need thank page */
@import "thank";
